
footer{
  text-align: center;
  background-color: #161619;
  
}

body{
  margin:0;
  background-color: #23252C;
}

.profile{
   border-radius: 50%;
   width: 120px;
   height: 120px;

}

.container {
  background-color: #23252C;
  display: flex;            /* Use Flexbox */
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  /* height: auto;        */
  margin-top: 50px; 
  margin-bottom: 50px;
}

.card{
  text-align: center;
  background-color: #1A1B21;
  color: white;
  padding: 30px 40px;       /* Space inside card */
  border-radius: 15px;      /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Soft shadow */
  text-align: center;       /* Center text inside card */
  max-width: 500px;  
  
}

.linkedin{
padding: 5px;
}

.mail{
padding: 5px;
}

.about{
text-align:left ;
margin-bottom: 0px;

}
.skill{
text-align:left ;
margin-top: 0px;
margin-bottom: 0px;
}
.product{
text-align:left ;
font-size: 2.2 emp;
margin-bottom: 0px;
}

.website{

}

.hide-me {
list-style-type: none; 
text-align: left;
padding-left: 0px;        
margin-left: 0px;

}

ul {
margin: 0px;
padding: 0px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.desgination{
  color: #61DAFB;
}